<div class="body">
		<div>
			<div class="featured">
				 <%= image_tag(image_url 'camping.jpg' )  %>
				
				<div>
					<div>
						<h3><span>C</span>reate <span>A</span> <span>E</span>vent <span>T</span>ODAY!</h3>
						<p>
							create a invitation with some cause to your friends and collect gift from your friends then share some ammount to the organizaton
						</p>
							
					</div>
				</div>
			</div>
			<div>
				<div>
					<div>
				
						<div class="section">
							<h2>How to create a event?</h2>
							<p>
								
							</p>
							<ul>
								<li>
									<p>
										click the create event 
									</p>
								</li>
								<li>
									<p>
										enter your event name , date ,venu and discribtion 
									</p>
								</li>
								<li>
									<p>
										then select the cause , organization and share ammount
									</p>
								</li>
								<li>
									<p>
										select the email template for your invitation 
									</p>
								</li>
							</ul>
							<ul class="last">
								<li>
									<p>
										add your friends list and send them the invetation 
									</p>
								</li>
								<li>
									<p>
									
									</p>
								</li>
								<li>
									<p>
									
									</p>
								</li>
								<li>
									<p>
									
									</p>
								</li>
							</ul>
						</div>
						<div>
							<h3>List of organization</h3>
							<ul>
								<li>
									<div>
										 <%= image_tag(image_url "org1.jpg", :size => "85x85") %>
										<p>
											The motivation of this organization, is to help the childerns who are unable to continue there education .
										</p>
									</div>
								</li>
								<li>
									<div>
										<%= image_tag(image_url 'org2.gif' , :size => "85x85") %>
										<p>
											The motivation of this organization, to pollution free environment.
										</p>
									</div>
								</li>
								<li class="last">
									<div>
										<%= image_tag(image_url 'org3.jpg' , :size => "85x85") %>
										<p>
											The motivation of this organization,.
										</p>
									</div>
								</li>
							</ul>
								<a ><%=link_to "View All", home_index_path%></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	