<%=form_for( :event ,url:index_page_path ) do |f| %>
<div>
<div>
<%=f.label :contant%>
 <%=f.text_area :message %>
</div>
<%=f.label :name %>
<%=f.text_field :name%>
</div>
<div>
<%=f.label :email %>
<%=f.text_field :email%>
</div>

<div>
<%=f.label :phone_number %>
<%=f.text_field :phone_no%>
</div>

<div>
<%=f.submit "invate" %>
</div>

<%end%>